version: '3.8'

services:
  web:
    build: .
    container_name: openar-web
    ports:
      - "8000:80"  # <-- Usiamo la 8000 per evitare conflitti su Windows
    depends_on:
      - db
    volumes:
      - ./:/var/www/html # Mappa la cartella corrente dentro il server
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html

  db:
    image: mysql:5.7
    container_name: openar-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test_db
      MYSQL_USER: root
      MYSQL_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  pma:
    image: phpmyadmin/phpmyadmin
    container_name: openar-pma
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  db_data: